
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#mainContent {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#homePage {
    padding: 0;
    margin: 0;
    height: 100%;
    widtH: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, #f1ffab, #ffd8b1);
    text-align: center;
}

#homePage > div,
#visualizerMain > div {
  user-select: none;
}

@font-face {
    font-family: 'Allan';
    src: url('../fonts/Allan/Allan-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#homePage > h1,
#visualizerMain > h1,
#featuresContainer > h1,
#featuresEditPage > h1 {
    font-size: 4rem;
    font-family: "Allan", cursive;
    font-weight: 400;
    color: rgb(57, 57, 57);
    text-shadow: rgba(13, 0, 77, 0.08) 0px 2px 4px, rgba(13, 0, 77, 0.08) 0px 3px 6px, rgba(13, 0, 77, 0.08) 0px 8px 16px;
    padding: 0;
    margin: 0;
}

#homePage > p,
#visualizerMain > p,
#visualizerStart > p {
    padding: 0;
    margin: 0px 20px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    color: rgb(60, 58, 70);
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 836px) {
    #homePage > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        width: 100%;
    }
}

.defaultBtnStyle {
    background: none;
    border: none;
    font-size: 1.3rem;
    color: transparent;
    background-color: red;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 30px;
    background: rgb(35, 38, 59);
    margin: 0px 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: transform 0.25s;
    user-select: none;
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
}

.defaultBtnStyle:not(.deactivatedBtn):hover {
    transform: scale(1.1);
}

.defaultBtnStyle span {
  background-image: linear-gradient(90deg, #d599ff 50%, white 50%);
  background-position: 100%;
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.4s ease;
  cursor: pointer;
}

.deactivatedBtn span:hover {
  cursor: not-allowed;
}

.defaultBtnStyle:not(.deactivatedBtn):hover span {
  background-position: 0;
}


/* Scripts page */

#scriptsPage {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, #4bffc4, #f1ffab);

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}




#scriptsPage-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

#featuresContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: Center;
  display: flex;
  flex-direction: column;
}

/* Options */

.option-card {
  background-color: transparent;
  color: black;
  border-radius: 5px;
  box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 10px;
  border: solid 1px black;
  transition: 0.3s;
  cursor: pointer;
}

.option-card-enabled {
  background-color: #f2ebeb !important;
  color: black !important;
  border: 1px solid rgb(35, 38, 59) !important;
}

.option-card:not(.notSupported):hover {
  transform: scale(1.1);
  color: #fff;
  background-color: rgb(35, 38, 59);
  border: 1px solid white;
}

.notSupported > .option-card-top > .option-card-buttonContainer {
  display: none;
}

.notSupported {
  cursor: not-allowed;
  background-color: rgb(72, 72, 72);
  color: white;
  border: 1px solid white;
}

.featureWIP {
  background-color: #fff998;;
}

.option-card-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.option-card-top > label {
  user-select: none;
  font-family: serif;
  font-size: 16px;
}

.option-card-top > div {
  display: flex;
  align-items: center;
}

#scripts-container {
    padding: 10px 20px 20px 20px;
    gap: 20px;
    width: calc(200px + 55%);
    overflow-y: scroll;
    max-height: calc(80% - 15px) !important;
    justify-content: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 0fr));
}

#scripts-container::-webkit-scrollbar {
    background: transparent; 
    width: 0px;
}

@media (max-width: 1710px) {
  #scripts-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  #scripts-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  #scripts-container {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* Switch buttons */

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: calc(60px / 1.5);
    height: calc(34px / 1.5);
    margin-left: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: calc(34px / 1.5);
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(26px / 1.5);
  width: calc(26px / 1.5);
  left: calc(4px / 1.5);
  bottom: calc(4px / 1.5);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  border-radius: 50%;
}

input:checked + .slider {
  background-color: #004ad7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #004ad7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(26px / 1.5));
  -ms-transform: translateX(calc(26px / 1.5));
  transform: translateX(calc(26px / 1.5));
}


/* Settings */


.card-settings {
  background: none;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  background-size: cover;
}


.card-settings {
  background-image: url('../images/settings.svg');
}

.card-settings:hover {
  transform: scale(1.2);
}


.option-card:not(.option-card-enabled):hover .card-settings {
  filter: invert();
}


/* Tooltip */

#card-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
  max-width: 300px;
  padding: 5px;
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: "Mulish", "Roboto", sans-serif;
}

/* Visualizer page */

#visualizerPage {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#visualizerMain {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, #ffd8b1, #4bffc4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.deactivatedBtn {
  cursor: not-allowed;
  background-color: #a2a2a2;
}

#visualizerStart {
  height: 100%;
  width: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  background: linear-gradient(to top, #ffd8b1, #4bffc4);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#visualizerStart > div {
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 24px;
}

#visualizerStart > div > div > button {
  margin: 0px 0px 0px 16px;
}

#visualizerStart-usernameField {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  background: rgb(35, 38, 59);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: transform 0.25s;
  font-family: sans-serif;
  border-radius: 7px;
}

.dataTypeSelected {
  transform: scale(1.1);
  color: #ffce90;
}


#visualizerStats {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #ff8686, #ffd8b1);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: flex-end;
  padding: 50px;
  position: relative;
}


#visualizerStats-header {
  flex: 1;
  align-content: center;
}

#visualizerStats-header > h1 {
  font-size: 4rem;
  font-family: "Allan", cursive;
  font-weight: 400;
  color: rgb(57, 57, 57);
  text-shadow: rgba(13, 0, 77, 0.08) 0px 2px 4px, rgba(13, 0, 77, 0.08) 0px 3px 6px, rgba(13, 0, 77, 0.08) 0px 8px 16px;
  padding: 0;
  margin: 0;
}

#visualizerStats-header > p {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 18px;
  color: rgb(60, 58, 70);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#visualizerStats-topBottom {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
  overflow: hidden;
}


.spaceWaster {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: -100%;
  background: inherit;
}
