

html,
body {
    margin: 0;
    padding: 0;
    background-color: #1b1b23;
    color: white;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* Header */

header {
    padding: 10px 20px 5px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    justify-content: space-between;
}

.text-container {
    display: flex;
    gap: 2rem;
}

#header-image {
    width: 40px;
    filter: invert();
}

header button {
    margin: 0;
}

.text-container > button {
    background: none;
    border: none;
    font-size: 2em;

    /* https://stackoverflow.com/a/76249433 */
    color: transparent;
    background-image: linear-gradient(90deg, #d599ff 50%, #d2d2d2 50%);
    background-position: 100%;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;

    transition: background-position 0.4s ease;

    cursor: pointer;
}

.text-container > button:hover {
    background-position: 0;
}